body {
    background-color:#393939;
}

h1 {
    margin:20px;
}

h3 {
    margin:15px;
}

.main-content {
    text-align:center;
    color:white;
}

.main-content img {
    width:100%;
    height:auto;
}

.navbar-main {
    background-color:#1e191a;
}

.control-input {
    color:black;
    margin-top:10px;
}

.stash {
    background-color:#1e191a;
    border-radius:10px;
    margin-top:20px;
}

.pybtn {
    background-color:#1e191a;
}

/* SPIN SECTION */
