body {
    background-color:#1e191a;
}

h1 {
    margin:20px;
}

h3 {
    margin:15px;
}

.main-content {
    text-align:center;
    color:white;
}

.main-content img {
    width:100%;
    height:auto;
}

.navbar-main {
    background-color:#8e61a2;
}

.control-input {
    color:black;
    margin-top:10px;
}
