{% extends "base.html" %}

{% block content %}
<section class="main-content">
	<div class="container">
	    <h1>&#9671 About the game &#9671</h1>
            <p1>
                This game was created as a university project for databases course.
                It is inspired on popular hazard internet games, but in safe environment.
            <br>Try your luck without losing money!
            </p1>
            
	     <h3>Game rules</h3>
            <ul>
                <li>Every drawing wins an award</li>
                <li>Every spin costs one token</li>
                <li>The higher value of the price, the lesser chance to win it</li>
                <li>You can sell your prizes or change them for more tokens</li>
            </ul>

         <h3>Avalible items</h3> 
         <style> td, th { border: 2px solid white; } </style>           
         <center>
            <table>
                <thead>
                    <tr> <th> Name <th> Value <th> Rarity
                <tbody>
                    <tr> <th> Lapis    <td> 5  <td> common
                    <tr> <th> Tin      <td> 5  <td> common
                    <tr> <th> Copper   <td> 10 <td> common
                    <tr> <th> Zinc     <td> 10 <td> common
                    <tr> <th> Torquoise<td> 15 <td> common
                    <tr> <th> Amethyst <td> 15 <td> common
                    <tr> <th> Pyrite   <td> 20 <td> common
                    
                    <tr> <th> Gold     <td> 50 <td> rare
                    <tr> <th> Ruby     <td> 55 <td> rare
                    <tr> <th> Garnet   <td> 55 <td> rare
                    <tr> <th> Quartz   <td> 65 <td> rare
                    <tr> <th> Nickiel  <td> 60 <td> rare
                    <tr> <th> Malachite<td> 65 <td> rare

                    <tr> <th> Magnetite<td> 160 <td> epic
                    <tr> <th> Emerald  <td> 160 <td> epic
                    <tr> <th> Sapphire <td> 170 <td> epic
                    <tr> <th> Obsidian <td> 175 <td> epic

                    <tr> <th> Corundum <td> 305 <td> legendary
                    <tr> <th> Diamond  <td> 350 <td> legendary
                    <tr> <th> Jadeite  <td> 355 <td> legendary
                    <tr> <th> Serdenite<td> 360 <td> legendary
                </table> 
        </center>    
         
            <h3>Authors</h3>
         <p1> Dudziński Jakub, Gorzelnik Piotr</p1> 
	</div>
</section>
{% endblock %}
