<!doctype html>
<html lang="pl_PL">
  <head>
    {% if title %}
    <title>{{ title }} - pyRite</title>
    {% else %}
    <title>pyRite</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="description" content="Browser game about minerals and luck">
    <meta name="keywords" content="roulette hazard minerals credits">
    <meta name="author" content="Jakub Dudziński, Piotr Gorzelnik">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap/bootstrap.min.css') }}">
    <!-- Own CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style_spin.css') }}">
    <!-- jQuery JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

  </head>
  <body>
    <!-- Header with navbar -->
    <header>
      <nav class="navbar navbar-dark navbar-main navbar-expand-lg" aria-label="Navigation bar">
	<div class="container-fluid">
	  <!-- Logo & toggler -->
	  <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/pyRite_logo.png') }}" class="d-inline-block align-bottom" alt=""> pyRite</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarsMain" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  
	  <!-- Menu -->
	  <div class="collapse navbar-collapse" id="navbarMain">
	    <ul class="navbar-nav me-auto mb-2 mb-md-0">
	      <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Main page</a></li>
	      {% if current_user.is_anonymous %}
	      <li class="nav-item"><a class="nav-link" href="{{ url_for('sign_in') }}">Sign in</a></li>
	      <li class="nav-item"><a class="nav-link" href="{{ url_for('sign_up') }}">Sign up</a></li>
	      {% else %}
	      <li class="nav-item"><a class="nav-link" href="{{ url_for('stash') }}">My stash</a></li>
	      <li class="nav-item"><a class="nav-link" href="{{ url_for('spin') }}">Spin</a></li>
	      <li class="nav-item"><a class="nav-link" href="{{ url_for('sign_out') }}">Sign out</a></li>
	      <li class="nav-item"><a class="nav-link" href="{{ url_for('settings') }}">Account settings</a></li>
	      {% endif %}
              <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About the game</a></li>
	      {% if current_user.is_anonymous %}
	      {% else %}
	      <li class="nav-tem"><a class="nav-link">Account: {{ current_user.credits }} cr.</a></li>
	      {% endif %}
	    </ul>
	  </div>
	  
	</div>
      </nav>
    </header>

    <!-- Main content -->
    {% block content %}{% endblock %}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
