{% extends "base.html" %}

{% block content %}
    <main>
      <section class="main-content">
	<div class="container">
	  {% if current_user.is_anonymous %}
	  <header>
	    <h1>&#9671 pyRite &#9671</h1>
	    <h3>Spin, collect minerals and win!</h3>
	    
	    <p class="lead">
	      <a href="{{ url_for('sign_up') }}" class="btn btn-lg btn-secondary fw-bold pybtn">Play now!</a>
	    </p>
	  </header>
	  {% else %}
	  <header>
	    <h1>Hello, {{ current_user.login }}!</h1>
	    <h2>Total spins since beginning: {{ current_user.totalspin }}</h2>
	    <div>
	      <a href="{{ url_for('stash') }}" class="btn btn-lg btn-secondary fw-bold pybtn">Stash - see your gathered minerals</a>
	    </div>
	    <div style="margin-top:25px;">
	      <a href="{{ url_for('spin') }}" class="btn btn-lg btn-secondary fw-bold pybtn">Spin - get new minerals</a>
	    </div>
	  </header>
	  {% endif %}
	</div>
      </section>
    </main>
{% endblock %}
