{% extends "base.html" %}

{% block content %}
<main>
  <section class="main-content">
    <div class="container">
        <form action="" method="post">
            {{ form.hidden_tag() }}
    <h1>CHANGE PASSWORD</h1>
    </div>
</div>
<div class="form-floating col-md-4 offset-md-4 control-input">
    {{ form.newPassword(size=20, class='form-control') }}
    {{ form.newPassword.label }}
    {% for error in form.newPassword.errors %}
    <span style="color:red;">[{{ error }}]</span>
    {% endfor %}
  </div>
  <div class="form-floating col-md-4 offset-md-4 control-input">
    {{ form.newPassword2(size=20, class='form-control') }}
    {{ form.newPassword2.label }}
    {% for error in form.newPassword2.errors %}
    <span style="color:red;">[{{ error }}]</span>
    {% endfor %}
  </div>
  {{ form.submit(class="btn btn-lg btn-secondary fw-bold pybtn", style="color:white; margin-top:25px;") }}


<p class="mt-5 mb-3 text-muted">&copy; 2020–2021</p>
  </section>
</main>
{% endblock %}
