{% extends "base.html" %}

{% block content %}
<main>
  <section class="main-content">
    <div class="container">
      <form action="" method="post">
	{{ form.hidden_tag() }}
	<img src="{{ url_for('static', filename='img/add_user.png') }}" style="width:64px; margin-top:64px;" alt="">
	<h1>Sign up form</h1>
	<div class="form-floating col-md-4 offset-md-4 control-input">
	  {{ form.login(size=32, class='form-control') }}
	  {{ form.login.label }}
	  {% for error in form.login.errors %}
	  <span style="color:red;">[{{ error }}]</span>
	  {% endfor %}
	</div>
	<div class="form-floating col-md-4 offset-md-4 control-input">
	  {{ form.password(size=32, class='form-control') }}
	  {{ form.password.label }}
	  {% for error in form.password.errors %}
	  <span style="color:red;">[{{ error }}]</span>
	  {% endfor %}
	</div>
	<div class="form-floating col-md-4 offset-md-4 control-input">
	  {{ form.password2(size=32, class='form-control') }}
	  {{ form.password2.label }}
	  {% for error in form.password2.errors %}
	  <span style="color:red;">[{{ error }}]</span>
	  {% endfor %}
	</div>
	{{ form.submit(class="btn btn-lg btn-secondary fw-bold pybtn", style="color:white; margin-top:25px;") }}
	<p class="mt-5 mb-3 text-muted">&copy; 2020–2021</p>
      </form>
    </div>
  </section>
</main>
{% endblock %}
