{% extends "base.html" %}
{% block content %}

<div class="container col-10 offset-1 stash">
  <div class="raffle-roller">
    <div class="raffle-roller-holder" style="margin-top:20px;">
      <div class="raffle-roller-container" style="margin-left: 0px;">
      </div>
    </div>
  </div>
  <center>
    <button class="btn btn-lg btn-secondary fw-bold pybtn" onclick="serv_spin();" style="margin-bottom:20px;">Spin (-20 cr.)</button>
  </center>
</div>

<script type="text/javascript">
  var items = {
      {% for i in items %}
      it{{ i.id }}: {
	  skin: "{{ i.name }}",
	  img: "{{ url_for('static', filename='items/it'+i.id|string+'.png') }}",
	  itid: {{ i.id }},
	  name: "{{ i.name }}",
	  value: "{{ i.value }}"
      },
      {% endfor %}
  };
</script>
<script type="text/javascript">
  function serv_spin() {
      $.ajax({
	  type: "POST",
	  url: "/get_mineral",
	  contentType: "application/json",
	  data: JSON.stringify(1),
	  dataType: "json",
	  success: function(obj) {
	      generate(obj.data.mineral);
	  },
	  error: function(err) {
	      alert("Sorry, you couldn't make the spin");
	      location.reload();
	  }
      });
  }
  function generate(ng) {
      $('.raffle-roller-container').css({
	  transition: "sdf",
	  "margin-left": "0px"
      }, 10).html('');
      var randed2 = ng;
      for(var i = 0;i < 101; i++) {
	  var randed = randomInt(1,1000)%21+1;
	  var randedStr = "it"+randed.toString();
	  var element = '<div id="CardNumber'+i+'" class="item" style="background-image:url(static/items/it'+items[randedStr].itid+'.png);"></div>';
	  $(element).appendTo('.raffle-roller-container');
      }
      setTimeout(function() {
	  var randed2it = "it"+randed2;
	  goRoll(items[randed2it].skin, items[randed2it].img, ng);
      }, 500);
   }
  async function goRoll(skin, skinimg, ng) {
      $('.raffle-roller-container').css({
	  transition: "all 8s cubic-bezier(.08,.6,0,1)"
      });
      $('#CardNumber80').css({
	  "background-image": "url("+skinimg+")"
      });
      setTimeout(function() {
	  $('#CardNumber80').addClass('winning-item');
	  var win_element = "<div class='item class_red_item' style='background-image: url("+skinimg+")'></div>";
      }, 8500);
      $('.raffle-roller-container').css('margin-left', '-6770px');
      await sleep(9000);
      var won_msg = "You have won: "+items['it'+ng.toString()].name + " with value of "+items['it'+ng.toString()].value+"!";
      alert(won_msg);
  }
  function randomInt(min, max) {
      return Math.floor(Math.random() * (max - min)) + min;
  }
  function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
  }
</script>

{% endblock %}
