{% extends "base.html" %}

{% block content %}
  <main>
    <section>
      <div class="container col-10 offset-1 stash">
	<div class="row justify-content-center">
	  {% for i in items %}
	  <div class="col-lg-2 col-md-3 col-sm-4 col-5">
	    <img src="{{ url_for('static', filename='items/it'+i[0].itemid|string+'.png') }}" alt="" style="text-align:center; margin-left:auto; margin-right:auto; display:block; cursor:pointer;" id="i{{ i[0].itemid|string }}">
	    <h3 style="text-align:center; color:white;">{{ i[0].amount }}</h3>
	    <h4 style="text-align:center; color:white;">{{ i[1] }}cr/unit</h4>
	  </div>
	  {% endfor %}
	</div>
      </div>
    </section>
  </main>

  <script type='text/javascript' src="{{ url_for('static', filename='js/sell.js') }}"></script>
  <script type='text/javascript'>
    {% for i in items %}
    var it{{ i[0].itemid }} = document.getElementById('i{{ i[0].itemid }}');
    it{{ i[0].itemid }}.addEventListener("click", function() { popUp({{ i[0].itemid }}); });
    {% endfor %}
  </script>
{% endblock %}
